// html,
// body {
//   overflow-x: hidden;
//   padding: 0;
//   margin: 0;
//   font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
//     Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
// }

// * {
//   box-sizing: border-box;
// }


// nav {
//   z-index: 30 !important;
// }

// $main: #7100f3;

.footer {
  // position: fixed;
  font-size: .8rem;
  margin-top: 20px;
  display: flex;
  flex: 1;
  padding: 1rem;
  border-top: 1px solid #eaeaea;
  justify-content: flex-start;
  align-items: center;
  z-index: 100;
}