.svg {
  width: 50px;
}

.container {
  z-index: 5;
  position: fixed;
  background-color: white;
  height: 70px;
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid gray;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.242);
}

.container h3 {
  font-size: 1.5rem;
}

.containerLeft, .containerRight {
  gap: .5rem;
  display: flex;
  flex-direction: row;
}