.svg {
  width: 50px;
}

.container {
  z-index: 5;
  position: fixed;
  background-color: white;
  height: 70px;
  width: 100vw;
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(225, 225, 225);
}

.container h3 {
  font-size: 1.5rem;
}

.containerLeft, .containerRight {
  gap: .5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.github span {
  gap: 5px
}

.github div {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .container {
    padding: 0 .5rem;
  }
  .container h3 {
    display: none;
  }
}