.container {
  margin: 0 2rem;
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
}

.terminalContainer {
  min-height: 2rem !important;
  /* min-width: 25ch !important; */
}

@media only screen and (max-width: 1000px) {
  .container {
    display: flex;
    gap: 0;
    flex-direction: column-reverse;
  }

  .terminalContainer {
    margin-top: 20px;
    width: 100%;
    /* min-width: 25ch !important; */
  }
}