.container {
  margin: 0 2rem;
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
}

.terminalContainer {
  min-height: 2rem !important;
}

@media only screen and (max-width: 1000px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
  }
}